# Name : Muhammad Fahad Siddiqui
# E-Mail : fsiddiqui107@gmail.com

In [ ]:
#importing the dependencies.

import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('data.csv')
data.head()

In [ ]:
data.shape

In [ ]:
data.describe()

In [ ]:
data.info()

# Q1:

In [ ]:
# For the given data, identify top companies in terms of their spendings. Report only the top 10 companies in an excel file, the tab name should be "Top Spenders - Companies"

q1 = data.groupby('company').sum().reset_index().drop("grps", axis=1).sort_values('cost').tail(10).iloc[::-1]
display(q1)

# Q2:

In [ ]:
# Find all ads that are "Spot/TVC‚Äù and were aired on first and last day of each month, report the resulting rows of data in the same Excel file as question 1, but on a separate tab having the name of "Month-Wise Beginning Ending Spot TVCs".

def date(val): 
    if val == "none":
        return 0
    else:
        day= str(val).split("/")
        return day[1] 
    
data["date_of_month"]= data["date"].apply(date)

adtype = data.loc[data['adtype'] == 'Spot/TVC']
one = adtype.loc[data['date_of_month']== '1']
thirty_one = adtype.loc[data['date_of_month']== '31']

frames = [one, thirty_one]
q2 = pd.concat(frames)
display(q2)

with pd.ExcelWriter('output.xlsx', engine='xlsxwriter') as writer:
    q1.to_excel(writer, sheet_name='Top Spenders - Companies', index=False)
    q2.to_excel(writer, sheet_name='MonthWise BeginnEnd SpotTVCs', index=False)
    #I have changed the tab name from "Month-Wise Beginning Ending Spot TVCs" to 'MonthWise BeginnEnd SpotTVCs' because pandas cant accpet more than 31 characters in tabname.

# Q3:

In [ ]:
# Find all ads that were aired between 9PM and 10PM with a threshold of 35 seconds, meaning any ad that aired 35 seconds before or after given range must also be considered. Report the resulting rows of data in the same Excel file as question 1, but on a separate tab having the name of "LPT Ads".

def time_hour(val):
    if val == "none":
        return 0
    else:
        hr= str(val).split(":")
        return hr[0]


def time_min(val):
    if val == "none":
        return 0
    else:
        min= str(val).split(":")
        return min[1]


def time_sec(val):
    if val == "none":
        return 0
    else:
        sec= str(val).split(":")
        AM = sec[2]
        if AM[-2] != "A":
            return AM
        
            
      
data["hour"]= data["time"].apply(time_hour)    
data["minute"]= data["time"].apply(time_min)
data["second_AM/PM"]= data["time"].apply(time_sec)

hour_eight = data.loc[data['hour'] == '8']
hour_nine = data.loc[data['hour'] == '9']
hour_ten = data.loc[data['hour'] == '10']

min_fiftynine = hour_eight.loc[data['minute'] == '59']
min_zerozero = hour_ten.loc[data['minute'] == '00']

sec_twenty_six = min_fiftynine.loc[data['second_AM/PM'] == '26 PM']
sec_thity_five = min_zerozero.loc[data['second_AM/PM'] == '35 PM']

frames2 = [sec_twenty_six, hour_nine,sec_thity_five]
q3 = pd.concat(frames2).dropna()
display(q3)

# Q4:

In [ ]:
#Find the NGRPs for each month for each brand using the following formula:ùëÅùê∫ùëÖùëÉùë† =ùëîùëüùëùùë†/ùëëùë¢ùëüùëéùë°ùëñùëúùëõ‚àó 10 Report the resulting rows of data in the same Excel file as question 1, but on a separate tab having the name of "Monthly Brand-Wise GRPs".Note: Aggregated NGRPs are summed.

def month(val):
    if val == "none":
        return 0
    else:
        mon= str(val).split("/")
        return mon[0]
    
data["month"]= data["date"].apply(month)
q4 = data.groupby(['brand','month']).sum().reset_index().drop("cost", axis=1).sort_values('month')
def NGRPS(val):
    if val == "none":
        return 0
    else:
        ngrps= (val/9)*10
        return ngrps
    
q4["NGRPS"]= q4["grps"].apply(NGRPS)
display(q4)

# Excel file and tabs generation

In [ ]:
#the output file name will be output.xlsx it will be executed itself once this cell is run.

with pd.ExcelWriter('output.xlsx', engine='xlsxwriter') as writer:
    q1.to_excel(writer, sheet_name='Top Spenders - Companies')
    q2.to_excel(writer, sheet_name='MonthWise BeginnEnd SpotTVCs' )
    #I have changed the tab name from "Month-Wise Beginning Ending Spot TVCs" to 'MonthWise BeginnEnd SpotTVCs' because pandas cant accpet more than 31 characters in tabname.
    q3.to_excel(writer, sheet_name='LPT Ads')
    q4.to_excel(writer, sheet_name='Monthly Brand-Wise GRPs')